body{
    margin:0;
    padding:0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;  
    
}

.container{
    width:75%;
    margin:0 auto;
}

.container-top,.container-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-top{
    background: #6943FF;
    padding:10px 40px; 
    gap:20px;
    color:white;  
}

#user-input{
    width:100px;
    height:100px;
    font-size: 45px;
    font-weight: 600;
    color:white;
    text-align: center;
    border:1px solid #F4F4F4;
    border-radius: 20px;
    margin:0;
    background: transparent;
    outline: none;
}

::placeholder{
    color:white;
}

#user-button{
    border:none;
    padding:20px 30px;
    width:fit-content;
    border-radius: 10px;
    font-size: 15px;
}


.container-bottom{
    background: #F4F4F4;
    gap:5px;
    height: 400px;
    justify-content: center;
}

.answer-container{
    background: white;
    width:50%;
    margin:10px;
    border-radius:10px;
}


h1{
    font-size: 30px;
    margin:10px 0;
}

h2{
    color:rgb(101, 68, 220);
    font-size: 20px;
}

h3{
    color:rgba(67, 68, 71, 0.807);  
}

#user-button:hover,.answer-container:hover
{
    background: rgb(233, 228, 228);
}
